// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$margin-components: 16vh;

$colors: (
    default: #20262e,
    primary: #913175,
    secondary: #cd5888,
    neutral: #e9e8e8,
    success: #2dce89,
    info: #11cdef,
    warning: #fb6340,
    danger: #f5365c,
    light: #adb5bd,
    dark: #212529,
);
