// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$colors: (
    default: #20262E,
    primary: #913175,
    secondary: #CD5888,
    neutral: #E9E8E8,
    success: #2dce89,
    info: #11cdef,
    warning: #fb6340,
    danger: #f5365c,
    light: #adb5bd,
    dark: #212529,
);
